#about {
    .main-content-about {
        padding: 80px 0 0 0px;

        @include max-screen($breakpoint_sp) {
            padding-top: 60px;
        }

        .title-about {
            font-size: 40rem;
            padding-left: 55px;
            letter-spacing: 8px;

            @include max-screen($breakpoint_sp) {
                font-size: 32rem;
                padding-left: 0;
                letter-spacing: 6.4px;
            }

            .title-en {
                display: block;
                font-size: 21rem;
                font-family: 'Cormorant Garamond', serif;
                font-weight: 600;
                letter-spacing: 0.1em;
                margin-top: 10px;

                @include max-screen($breakpoint_sp) {
                    font-size: 21rem;
                    margin-top: 15px;
                }
            }
        }

        .ctn-about {
            padding-left: 55px;

            @include max-screen($breakpoint_sp) {
                padding-left: 0;
            }

            .j-sticky-ctn {
                display: flex;
                padding-top: 80rem;

                @include max-screen($breakpoint_sp) {
                    display: block;
                    padding-top: 60px;
                }

                .thumb-about {
                    width: 45%;
                    max-width: 712rem;
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    height: 100%;

                    @include max-screen($breakpoint_sp) {
                        position: relative;
                        width: auto;
                        max-width: inherit;
                        margin: 0rem -20rem;
                        position: initial !important;
                    }
                }

                .infor-about {
                    padding: 160px 100px;
                    background: #fff;
                    width: 55%;
                    margin-top: -115px;

                    @include max-screen($breakpoint_sp) {
                        width: auto;
                        margin-top: -20px;
                        position: relative;
                        padding: 70px 40px 70px 20px;
                        margin-right: -20px;
                    }

                    .title-infor {
                        font-size: 40rem;
                        margin-bottom: 23px;
                        letter-spacing: 0.1em;
                        line-height: 1.8;

                        @include max-screen($breakpoint_sp) {
                            font-size: 28rem;
                        }
                    }

                    .txt {
                        font-size: 15rem;
                        letter-spacing: 0.1em;
                        margin-bottom: 83px;
                        line-height: 1.8;

                        @include max-screen($breakpoint_sp) {
                            margin-bottom: 60px;
                        }
                    }

                    .list-about {
                        .title-list {
                            font-size: 21rem;
                            letter-spacing: 0.1em;
                            margin-bottom: 60px;
                            display: inline-block;
                            border-bottom: 2px solid #1e1e1e;

                            @include max-screen($breakpoint_sp) {
                                margin-bottom: 47px;
                            }
                        }

                        .list {
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #cccccc;
                            padding-bottom: 40px;
                            margin-bottom: 40px;

                            @include max-screen($breakpoint_sp) {
                                display: block;
                                padding-bottom: 43px;
                                margin-bottom: 28px;
                            }

                            .number {
                                font-size: 32rem;
                                margin-right: 32px;
                                font-family: 'Cormorant Garamond', serif;
                                font-weight: 600;
                                max-width: 34px;
                                width: 100%;
                                letter-spacing: 3.2px;

                                @include max-screen($breakpoint_sp) {
                                    margin-bottom: 8px;
                                }
                            }

                            .ttl-list {
                                font-size: 32rem;
                                width: 100%;
                                max-width: 145px;
                                margin-right: 45px;
                                letter-spacing: 0.1em;

                                @include max-screen($breakpoint_sp) {
                                    font-size: 32rem;
                                    max-width: 100%;
                                    margin-bottom: 15px;
                                    margin-right: 0;
                                    letter-spacing: 0.1em;
                                }

                                span {
                                    font-size: 18px;
                                    display: block;
                                    letter-spacing: 0;

                                    @include max-screen($breakpoint_sp) {
                                        font-size: 32rem;
                                        display: inline-block;
                                    }
                                }
                            }

                            .text-ctn {
                                font-size: 18rem;
                                letter-spacing: 0.1em;

                                @include max-screen($breakpoint_sp) {
                                    letter-spacing: 0.1em;
                                    line-height: 1.8;
                                }

                                span {
                                    font-size: 12rem;
                                    color: #999999;
                                    display: block;

                                    @include max-screen($breakpoint_sp) {
                                        margin-top: 5rem;
                                        letter-spacing: 0.1em;
                                    }
                                }
                            }

                            &:last-child {
                                border: none;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }
                    }
                }

                .j-sticky {
                    @include max-screen($breakpoint_sp) {
                        position: initial !important;
                    }
                }
            }
        }

        .breadcrumb {
            margin-bottom: 16px;
            margin-top: 100px;
            font-size: 14rem;

            ul {
                display: flex;

                li {
                    margin-right: 7rem;
                    letter-spacing: 0.1em;

                    a {
                        color: #1e1e1e;


                        &:hover {
                            text-decoration: none;
                            border-bottom: 1px solid #1e1e1e;
                        }
                    }
                }
            }
        }
    }
}